* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Raleway", sans-serif;
}

body{
    color: white;
    font-family: arial;
    font-size: 18px;
    background-color:#111827;
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 9vh;
    width: 100vw;
    background-color:#1F2937;
    box-shadow: -1px 13px 53px 0px rgba(0,0,0,0.16);
    -webkit-box-shadow: -1px 13px 53px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: -1px 13px 53px 0px rgba(0,0,0,0.16);
    z-index: 1;
}
.nav__conteiner-spans{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 70%;
    text-decoration: none;
    /* background-color: red; */
}
.nav__conteiner-spans a{
    text-decoration: none;
    color: white;
    margin-left: 50px;
}
.nav__span--name{
    font-size: 34px;
    font-weight: 600;
    background: linear-gradient(90deg, #9f00ff, #ff007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
}
.nav__span{
    font-size: 20px;
    /* font-weight: 600; */
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}
.header__content{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.header__content--div{
    /* background-color: red; */
    /* background-color: red; */
    width: 44%;
    /* padding-left: 0%; */
    padding-top: 11%;
}
.header__image{
    width: 450px;
    height: 450px;
    background-color: rgb(22, 39, 86);
    border-radius: 100%;
    margin-right: 40px;
    margin-top: 250px;
}
.header__span--introduction{
    display:flex;
    flex-wrap: wrap;
    /* white-space: break-spaces; */
    width: 100%;
    font-size: 110px;
    margin-bottom: 1%;
    font-weight: 600; 
    /* background-color: blue; */
}
.header__span--introduction > span{
    background: linear-gradient(90deg, #9f00ff, #ff007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
}
.header__span{
    display:flex;
    font-size: 40px;
    margin-bottom: 3%;
}
.header__p{
    width: 90%;
    font-size: 22px;
}
.header__buttons{
    display: flex;
    justify-content: left;
    width: 70%;
    height: 100%;
    font-size: 26px;
    /* background-color: blue; */
}
.header__buttons .header__buttons--button:first-of-type{
    background: linear-gradient(90deg, #9f00ff, #ff007b);
    border: none;
    margin-right: 20px;
}
.header__buttons .header__buttons--button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    height: 22%;
    border: 1px solid #6F3EA9;
    border-radius: 100px;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    margin-top: 30px;
     cursor: pointer;
}
.header__buttons .header__buttons--button a{
   color: white;
}
.header__buttons .colored a{
    color: #B79DDB;
}
#projects, #skills{
   scroll-margin-top: 80px;
}

main{
    /* height: 180vh; */
}
.main__sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#1F2937;
    padding-top: 100px;
    /* background-color: blue; */
}
.main__section--span:first-of-type{
    background: linear-gradient(90deg, #9f00ff, #ff007b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
}
.main__section--span{
    width: 750px;
    color: #949CA7;
    text-align: center;
}

.main__div--all-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 80px 0 100px 0;
}
.main__div--project{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    background: #374151;
    width: 25%;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-right: 1px;
}
.main__div--project:hover{
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transition: 0.3s ease;
    /* z-index: 0; */
}
.main__div--project:not(:hover) {
    transition: 0.3s ease;
}
.main__div--project-text{
    padding: 20px;
}
.main__div--project-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}
.main__div--project span{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.main__div--project p{
    width: 420px;
    margin: 20px 0;
    color: #949CA7;
}
.main__div--project-languages{
    display: flex;
    color: #B79DDB;
}
.main__div--project-languages div{
    padding: 8px 16px;
    border-radius: 24px;
    font-size: 16px;
    margin-right: 10px;
    background-color: #581C87;
}
.main__div--project-github{
    display: flex;
    align-items: center;
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 10px;
}
.main__div--project-github img:first-of-type{
    width: 25px;
}
.main__div--project-github img{
    width: 18px;
    margin-right: 8px;
}
.main__div--project-github a{
    display: flex;
    align-items: center;
    color: #B79DDB;
    margin-right: 20px;
}
.main__sections--skills{
    background-color:#111827;
<<<<<<< HEAD
    /* height: 45vh; */
    padding: 100px 0;
=======
    height: 45vh;
    padding: 0;
>>>>>>> e50fca384eebda95a1870a3b593f4ca58da8c091
}
.skills__div--images{
    display: flex;
}
.skills__div--img{
    background-color: #1F2937;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    margin: 50px 30px 0 0;
}
.skills__div--images img{
    padding: 20px;
    width: 80px;
}

<<<<<<< HEAD
.main_div--soft-skills{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color:#1F2937;
    margin-top: 50px;
    padding-top: 25px;
    border-radius: 6px;
}
.main__sections--soft-skills{
    background-color: #111827;
    padding-top: 0;
    /* height: 80%; */
}
.main__div--all-skills{
    margin: 50px 0 50px 0;
}
.main__section--soft-skills{
    width: 900px;
}
.main__soft-skills-top{
    display: flex;
    align-items: center;
    width: 95%;
    /* background-color: purple; */

}
.main__soft-skills-top span{
    /* background-color: brown; */
    width: 60%;
    text-align: center;
}
.main__soft-skills-img{
    display: flex;
    /* text-align: center; */
    /* margin-right: 290px; */
    padding: 20px;
}
.main__soft-skills-img img{
    width: 50px;
    /* margin-right: 30px; */
}
.main__div--skills{
    width: 30%;
    height: 200px;
}
.main__div--skills-text p{
    margin-top:-30px;
    width: 380px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #1F2937;
}
.footer__div--contact{
    /* width: 50%; */
    padding: 30px;
    background-color: #374151;
    border-radius: 6px;
    margin-top: 50px;
}
.footer__div--contact-all-images{
    display: flex;
    /* flex-direction: column; */
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}
.footer__div--contact-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color:#581C87;
    margin: 0;
    /* margin: 0 10px; */
    margin: 0 10px 10px;
}
.footer__div--contact-image img{
    width: 65px;
}
.footer__div--contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 30px;
}
.footer__div--contact-span{
    display: flex;
    flex-direction: column;    
}
.footer__div--contact-span span:first-of-type{
    color: #949CA7; 
}
.footer__div--img-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #374151;
    width: 60px;
    height: 60px;
}
.footer__div--img-contact img{
    width: 60px;
}
=======
.main__section--soft-skills{
    width: 900px;
}
.main__soft-skills-img{
    display: flex;
    align-items: left;
    width: 100%;
    padding: 20px;
}
.main__soft-skills-img img{
    width: 90px;
}
/* footer{
    height: 23vh;
    background-color: purple;
} */
>>>>>>> e50fca384eebda95a1870a3b593f4ca58da8c091
